#index{
    display: flex;
    flex-direction: column;
    background-color: #E9F5E9;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color:#4CAF50;
    margin-top: 30px;
}

footer a{
    text-decoration: none;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700; 
    font-size: 2.5em; 
    color: #333; 
    text-align: center; 
    margin-bottom: 20px; 
    scroll-margin-top: 120px;
}

#Nav1{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    margin-top: 60px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    border-top: 5px solid #4CAF50; 
    border-bottom: 5px solid #4CAF50;
    background-color: #E9F5E9; /* ou branco */
}

nav a{
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;    
    font-family: 'Roboto', sans-serif;
}

nav a:hover{
    text-decoration: underline;
}

.botao{
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.botao:hover {
  background-color: #45a049;
}

.logo{
    text-align: center; 
}

#titulo{
    text-align: center;
    color: #2E4E2E;
    font-family: 'Lora', sans-serif;
}

.categorias {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 40px;
}

.tipos {
    background-color: #f9fdf9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    font-size: 20px;
    border: 2px solid #c8e6c9;
}

.tipos:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.tipos i {
    font-size: 50px;
    color: #4CAF50;
}

.tipos p {
    font-weight: bold;
    margin: 10px 0;
    color: #2E4E2E;
}

.tipos ul {
    list-style: none;
    padding: 0;
    margin: 5px;
}

.tipos li {
    margin: 5px 0;
    color: #2E4E2E;
}

.tipos img {
    color: #4CAF50;
}

.primeiroTopico {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 20px; 
    padding: 40px;
}

.oqereciclagem{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    flex: 1; 
    padding: 20px;
    font-size: 1.3em; 
    line-height: 1.6; 
    margin-bottom: 15px; 
    color: #2E4E2E; 
    max-width: 1000px; 
}

.oqereciclagem a{
    color:#4CAF50;
    text-decoration: none;
}

.oqereciclagem a:hover{
    color:#45A049;
}

.link-externo{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em; 
    line-height: 1.6; 
    color:#4CAF50;
}

.link-externo:hover{
    color:#45A049;
}

.primeiraimagem {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.primeiraimagem img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

.latasLixo img{
    max-width: 100%;
    height: auto; 
    display: block;
    margin: 0 auto; 
    border-radius: 8px; 
}

.map-text{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    flex: 1; 
    padding: 20px;
    font-size: 1.3em; 
    line-height: 1.6; 
    margin-bottom: 15px; 
    color: #2E4E2E; 
}

.map-area {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 30px; 
    padding: 20px; 
    flex-wrap: wrap; 
}


.map-container {
    width: 600px;
   
    border: 1px solid #ccc; 
    box-shadow: 3px 3px 8px rgba(0,0,0,0.1);
    border-radius: 8px; 
    overflow: hidden; 
}

.map-container iframe {
    display: block; 
    width: 100%;
    border: none; 
}

.map-legend ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.legend-item {
    display: flex;
    align-items: center;
    background-color: #E9E9E9;
    border-radius: 50px;
    padding: 8px 15px 8px 8px;
    margin-bottom: 15px; 
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.icon-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    flex-shrink: 0;
}

.icon-white {
    color: white ; 
}

.color-blue { background-color: #1976D2; }
.color-green { background-color: #69B46C; }
.color-grey { background-color: #9E9E9E; }
.color-orange { background-color: #E53935; }

.icon-circle .material-symbols-outlined {
    color:#333333;
    font-size: 28px;
    font-variation-settings: 'FILL' 0;
}

.label-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #333333;
    font-weight: 500;
    flex-grow: 1;
}


@media (max-width: 950px) { 
    .map-area {
        flex-direction: column; 
        align-items: center; 
    }
    .map-container {
        width: 90%; 
        max-width: 600px; 
    }
    .map-legend {
       margin-top: 20px; 
    }
    .primeiroTopico {
        flex-direction: column; 
        align-items: center; 
    }
    .categorias {
        flex-direction:column;
        align-items: center; 
        justify-content: space-between;
    }
    .tipos{
        margin-top: 25px;
    }
    .latasLixo{
        display: flex;
        padding: 0px;
    }
    #index{
        margin: 0px;
    }
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}


.links a{
    color: #f9fdf9;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.links a:hover{
    text-decoration: underline;
}

form {
    background-color: white;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

form label {
    display: block;
    color: #333;
    font-size: large;
    font-family: 'Roboto';
    margin-bottom: -10px;
}

form input, form textarea {
    width: 95%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


form button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
}

form button:hover {
    background-color: #45a049;
}

