
#index{
    background-color: #E9F5E9;
    margin: 0;
    padding: 0;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color:#4CAF50;
    margin-top: 30px;
}

footer a{
    text-decoration: none;
}

h2{
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-size: 30px;
    scroll-margin-top: 120px;
}

nav{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    border-top: 5px solid #4CAF50; 
    border-bottom: 5px solid #4CAF50;
    background-color: #E9F5E9; /* ou branco */
}

nav a{
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;    
    font-family: 'Roboto', sans-serif;
}

.botao{
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.botao:hover {
  background-color: #45a049;
}

.logo{
    text-align: center; 
}

#titulo{
    text-align: center;
    color: #2E4E2E;
    font-family: 'Lora', sans-serif;
}

.categorias {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 250px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.tipos {
    background-color: #f9fdf9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    font-size: 20px;
    border: 2px solid #c8e6c9;
}

.tipos:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.tipos i {
    font-size: 50px;
    color: #4CAF50;
}

.tipos p {
    font-weight: bold;
    margin: 10px 0;
    color: #2E4E2E;
}

.tipos ul {
    list-style: none;
    padding: 0;
    margin: 5px;
}

.tipos li {
    margin: 5px 0;
    color: #2E4E2E;
}

.tipos img {
    color: #4CAF50;
}

.primeiroTopico {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 20px; 
    padding: 40px;
}

.oqereciclagem{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    flex: 1; 
    padding: 20px;
    font-size: 1.3em; 
    line-height: 1.6; 
    margin-bottom: 15px; 
    color: #2E4E2E; 
    max-width: 1000px; 
}

.oqereciclagem a{
    color:#4CAF50;
    text-decoration: none;
}

.oqereciclagem a:hover{
    color:#45A049;
}

.primeiraimagem {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.primeiraimagem img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}